<% if @offers.size > 0 %>
  <div class='offer'>
    <div class='title'>Offer Title</div>
    <div class='payout'>Offer Payout</div>
    <div class='thumbnail'>Offer Thumbnail</div>
  </div>
  <% @offers.each do |offer| %>
    <div class='offer'>
      <div class='title'>offer['title']</div>
      <div class='payout'>offer['payout']</div>
      <div class='thumbnail'>offer['thumbnail']</div>
    </div>
  <% end %>
<% else %>
  <div class='no_offers'>
    No offers
  </div>
<% end %>
