<div class='offer'>
  <div class='title'><%= offer.title || 'Offer Title' %></div>
  <div class='payout'><%= offer.payout || 'Offer Payout' %></div>
  <div class='thumbnail'><%= offer.thumbnail || 'Offer Thumbnail' %></div>
</div>
